[Unit]
Description=Monitors ip rules for better default route discovery by tailscale
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/podman run --rm --net host --volume /mnt/data/ssh/id_rsa:/root/.ssh/id_rsa:ro --volume /var/run/ssh_proxy_port:/etc/unifi-os/ssh_proxy_port:ro ghcr.io/ntkme/unifi-ssh-proxy:edge '/bin/sh "/mnt/data/bin/ip-rule-monitor.sh"'
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target